:root {
  --accent: #5f30de;
  --accent-variant: #5133a3;
  --accent-variant-dark: #3f3675;

  --primary: #f0f0fc;
  --primary-dark: hsl(242, 23%, 14%);
  /* --primary: #dbdae6; */
  /* --primary-dark: #2f2e49; */

  --secondary: #dbdbf9;
  --secondary-dark: #2f2e49;

  --background: #f8f8fe;
  --background-dark: #10101e;

  --selection: #9e94e266;

  --white: #ffffff;
  --light-gray: #a3a6b2;
  --gray: #4d505c;
  --black: #000000;

  --light-blue: #abc4fa;
  --light-green: #a2e7c4;
  --light-purple: #d6d4ff;
  --blue: #1d3997;
  --green: #135e54;
  --magenta: #7a1075;
  --purple: #7253ff;
  --red: #ff0000;

  --rounded-xxsm: 0.125rem;
  --rounded-xsm: 0.25rem;
  --rounded-sm: 0.375rem;
  --rounded-md: 0.625rem;
  --rounded-lg: clamp(
    1.5rem,
    0.4356435643564356rem + 3.9603960396039604vw,
    4rem
  );
  --rounded-50: 50%;
  --rounded-full: 999px;

  --default-transition: 0.2s linear;
}

*,
::after,
::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* outline: 2px solid lime; */
  /* background: hsl(0 100% 50% / .1)!important; */
}

::selection {
  background: var(--selection);
}

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

html.open-nav {
  overflow-y: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  position: relative;
  font-family: "Hanken Grotesk", sans-serif;
  color: var(--black);
  background-color: var(--background);
  margin: 0;
  transition: color var(--default-transition),
    background-color var(--default-transition);
  /* overflow-x: hidden; */
  -webkit-font-smoothing: antialiased;
}

body.dark {
  background-color: var(--background-dark);
  color: var(--white);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  opacity: 0.2;
  filter: url(#grainy);
}

.body-grainy {
  cursor: none;
  position: absolute;
  pointer-events: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--black);
  background-color: var(--background);
  outline: 0.25rem solid var(--primary);
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

body.dark .preloader {
  color: var(--white);
  background-color: var(--background-dark);
  outline: 0.25rem solid var(--primary-dark);
}

.preloader-animation {
  animation: preloader-animation 1s ease-in-out;
}

@keyframes preloader-animation {
  0% {
    opacity: 1;
    top: 0;
    user-select: all;
    pointer-events: all;
  }
  30% {
    opacity: 1;
    top: 0;
    user-select: all;
    pointer-events: all;
  }
  100% {
    opacity: 1;
    top: -100%;
    user-select: all;
    pointer-events: all;
  }
}

.preloader span {
  color: var(--accent-variant-dark);
}

body.dark .preloader span {
  color: var(--light-purple);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 1.292079207920792rem + 3.564356435643565vw, 4.5rem);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2px;
}

@media (max-width: 768px) {
  h1 {
    letter-spacing: -1px;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: clamp(2.25rem, 1.292079207920792rem + 3.564356435643565vw, 4.5rem);
  line-height: 55px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: clamp(2rem, 1.4285714285714286rem + 2.857142857142857vw, 4rem);
}

@media (max-width: 480px) {
  h2 {
    letter-spacing: 0px;
  }
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: clamp(2rem, 1.5742574257425743rem + 1.5841584158415842vw, 3rem);
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: clamp(1rem, 0.3846153846153846rem + 0.9615384615384616vw, 1.25rem);
  line-height: 1.58;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

input,
textarea {
  font: inherit;
}

.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-size: clamp(
    1rem,
    0.9642857142857143rem + 0.17857142857142858vw,
    1.125rem
  );
  line-height: 1;
  color: var(--white);
  background-color: var(--accent);
  padding: 12px;
  border-radius: var(--rounded-sm);
  overflow: hidden;
  transition: color var(--default-transition),
    background-color var(--default-transition);
}

.button:hover {
  background-color: var(--accent-variant);
}

.button.dark {
  background-color: var(--accent);
}

.button.dark:hover {
  background-color: var(--accent-variant-dark);
}

.button span:first-of-type {
  padding-right: 0.5rem;
  transition: all var(--default-transition);
}

.button:hover span:first-of-type {
  transform: translateX(0.375rem);
}

.button span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--purple);
  border-radius: var(--rounded-xxsm);
  transition: all var(--default-transition);
}

.button:hover span:nth-of-type(2) {
  background-color: var(--white);
  border-radius: var(--rounded-50);
  transform: rotate(90deg);
  scale: 0.3;
}

.button:hover span:nth-of-type(2) svg {
  width: 0px;
  height: 0px;
  transition: all var(--default-transition);
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* -------------------------------- ANIMATIONS -------------------------------- */

/* .scale-up {
  animation: scale-up 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes scale-up {
  0% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-53deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

/*  ------------------------------- CONTAINER WRAPPER ------------------------- */

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  width: min(100% - 64px, 1440px);
  margin-inline: auto;
}

/*  ---------------------------------- HEADER --------------------------------- */

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--background);
  padding: 12px 0;
  transition: background-color var(--default-transition);
}

.header.dark {
  background-color: var(--background-dark);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: clamp(0.75rem, 0.6435643564356436rem + 0.39603960396039606vw, 1rem);
  position: relative;
  z-index: 999;
  outline: 0;
}

.logo-image {
  width: clamp(2.25rem, 2.1435643564356437rem + 0.39603960396039606vw, 2.5rem);
  height: clamp(2.25rem, 2.1435643564356437rem + 0.39603960396039606vw, 2.5rem);
  aspect-ratio: 1 / 1;
  opacity: 1;
  transition: transform 0.4s ease;
}

.logo:hover .logo-image {
  transform: rotate(-90deg);
}

.author-name {
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  font-size: clamp(
    1.25rem,
    1.1590909090909092rem + 0.45454545454545453vw,
    1.375rem
  );
  font-weight: 700;
  line-height: 1;
  color: var(--black);
  cursor: pointer;
  user-select: none;
  transition: color var(--default-transition);
}

.author-name.dark {
  color: var(--white);
}

.header-ul {
  display: flex;
  gap: 0.5rem;
  font-size: 1.125rem;
  padding-inline-start: 0px;
  margin: 0;
}

.header-li {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link-header {
  font-weight: 600;
  color: var(--black);
  padding: 4px 10px;
  border-radius: var(--rounded-xsm);
  transition: color var(--default-transition),
    background-color var(--default-transition);
}

.nav-link-header.dark {
  color: var(--white);
}

.nav-link-header:hover:not(.active) {
  background-color: var(--primary);
}

.nav-link-header.dark:hover:not(.active) {
  background-color: var(--primary-dark);
}

.active {
  color: var(--white);
  background-color: var(--accent);
  transition: background-color var(--default-transition);
}

.active:hover {
  background-color: var(--accent-variant);
}

.active.dark {
  background-color: var(--accent);
}

.active.dark:hover {
  background-color: var(--accent-variant-dark);
}

.dark-mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 50px;
  background-color: var(--primary);
  border-radius: var(--rounded-full);
  margin-left: 10px;
  position: relative;
  transition: background-color var(--default-transition);
  cursor: pointer;
}

.dark-mode-button.dark {
  background-color: var(--primary-dark);
}

.dark-mode-button::after {
  content: "Dark Mode";
  width: max-content;
  font-size: 0.875rem;
  background-color: var(--primary);
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded-xsm);
  margin-top: 0.5rem;
  position: absolute;
  top: auto;
  left: -10000px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: background-color var(--default-transition),
    opacity var(--default-transition);
}

.dark-mode-button:hover::after {
  top: 100%;
  left: 50%;
  opacity: 1;
}

.dark-mode-button.dark::after {
  background-color: var(--primary-dark);
}

.dark-mode-toggle {
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.dark-mode-toggle-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--rounded-50);
  position: absolute;
  left: 3px;
  height: 20px;
  width: 20px;
  transform: translateX(0px);
  transition: transform 0.3s ease;
}

.dark-mode-toggle-ball svg {
  width: 0.75rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--default-transition), opacity var(--default-transition);
}

.dark-mode-toggle-ball svg:first-of-type {
  fill: var(--primary-dark);
  opacity: 1;
}

.dark-mode-toggle-ball svg:nth-of-type(2) {
  opacity: 0;
}

.dark-mode-toggle:checked ~ .dark-mode-toggle-ball svg:first-of-type {
  opacity: 0;
}

.dark-mode-toggle:checked ~ .dark-mode-toggle-ball svg:nth-of-type(2) {
  opacity: 1;
  fill: var(--primary-dark);
}

.dark-mode-toggle:checked ~ .dark-mode-toggle-ball {
  transform: translateX(24px);
}

.dark-mode-span {
  display: none;
  width: fit-content;
}

.header-ul-infos {
  display: none;
}

.navbuttons {
  display: none;
  position: relative;
  z-index: 999;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.navbar-button {
  width: 2rem;
  height: 3px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navbar-button::before,
.navbar-button::after {
  content: "";
  height: 3px;
  background-color: var(--black);
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.navbar-button::before {
  width: 2rem;
  transform: translateY(-6px);
}
.navbar-button::after {
  width: 1.5rem;
  transform: translateY(6px);
  right: 0;
}

.navbuttons.open-nav > .navbar-button::before {
  transform: rotate(45deg);
}
.navbuttons.open-nav > .navbar-button::after {
  transform: rotate(-45deg);
  width: 2rem;
}

.navbar-button.dark::before,
.navbar-button.dark::after {
  background-color: var(--white);
}

/*  ------------------------------------ MAIN --------------------------------- */

.hero-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 6rem;
  position: relative;
}

.hero-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
  transition: border var(--default-transition),
    outline var(--default-transition);
}

.hero-avatar-image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--rounded-50);
}

.hero-avatar div {
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem 0.5rem 1.625rem;
  background-color: var(--primary);
  border-radius: var(--rounded-full);
  transition: background-color var(--default-transition);
  cursor: default;
}

.hero-avatar.dark div {
  background-color: var(--primary-dark);
}

.hero-avatar div::before {
  content: "";
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--purple);
  border-radius: var(--rounded-50);
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 1;
  transform: translate(0.625rem, -50%);
  transition: background-color var(--default-transition);
}

.hero-avatar.dark div::before {
  background-color: var(--purple);
}

.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: default;
  position: relative;
  z-index: 2;
}

.hero-title {
  width: 100%;
  font-family: "Outfit", sans-serif;
  max-width: 17ch;
  margin-bottom: 2rem;
}

.hero-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

.hero-tags > span {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: var(--rounded-xsm);
  transition: background-color var(--default-transition);
}

.hero-tags > span:first-of-type {
  background-color: var(--light-blue);
}

.hero-tags > span:nth-of-type(2) {
  background-color: var(--light-purple);
}

.hero-tags > span:nth-of-type(3) {
  background-color: var(--light-green);
}

.hero-tags.dark > span:first-of-type {
  background-color: var(--blue);
}

.hero-tags.dark > span:nth-of-type(2) {
  background-color: var(--magenta);
}

.hero-tags.dark > span:nth-of-type(3) {
  background-color: var(--green);
}

.hero-subtitle {
  max-width: 52ch;
  font-size: clamp(
    1rem,
    0.8935643564356436rem + 0.39603960396039606vw,
    1.25rem
  );
  font-weight: 400;
  line-height: 1.3;
  text-wrap: pretty;
  margin-bottom: 1.5rem;
}

.hero-subtitle > span {
  font-weight: 600;
}

.hero-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-button {
  padding: 14px 24px;
}

.hero-button span:nth-of-type(2) svg {
  transform: rotate(45deg);
}

.about-section {
  position: relative;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.about-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 0.5742574257425743rem + 1.5841584158415842vw, 2rem);
}

.about-headline div {
  width: 100%;
  border-bottom: 2px solid var(--primary);
  margin-top: 6px;
  transition: border var(--default-transition);
}

.about-section.dark .about-headline div {
  border-bottom: 2px solid var(--primary-dark);
}

.about-headline > svg {
  flex-shrink: 0;
  width: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  height: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  transform: rotate(180deg);
}

.about-container-content {
  display: flex;
  align-items: center;
  gap: clamp(2rem, -0.2921013412816693rem + 4.769001490312966vw, 4rem);
  margin-bottom: 100px;
}

.about-image-wrapper {
  flex: 1;
}

.author-photo {
  aspect-ratio: 1 / 1;
  max-height: 390px;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  border-radius: var(--rounded-md);
}

.about-description-wrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}

.about-description-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-description-wrapper p:nth-of-type(2) {
  margin-bottom: 1rem;
}

.services-container {
  display: flex;
  flex-direction: column;
}

.services-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.services-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary);
  padding: clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem);
  /* border: 2px solid var(--primary); */
  border-radius: var(--rounded-md);
  transition: background-color var(--default-transition),
    border var(--default-transition);
  position: sticky;
  top: 6rem;
}

.services-card.dark {
  background-color: var(--primary-dark);
  /* border: 2px solid var(--primary-dark); */
}

.services-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-wrap: nowrap;
  margin: 0;
  font-weight: 600;
}

.services-header-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: var(--rounded-xsm);
  transition: background-color var(--default-transition);
}

.services-card:nth-of-type(1) > .services-header > .services-header-icon {
  background-color: var(--light-blue);
}

.services-card:nth-of-type(2) > .services-header > .services-header-icon {
  background-color: var(--light-purple);
}

.services-card:nth-of-type(3) > .services-header > .services-header-icon {
  background-color: var(--light-green);
}

.services-card:nth-of-type(4) > .services-header > .services-header-icon {
  background-color: var(--secondary);
}

.services-card:nth-of-type(1) > .services-header > .services-header-icon.dark {
  background-color: var(--blue);
}

.services-card:nth-of-type(2) > .services-header > .services-header-icon.dark {
  background-color: var(--magenta);
}

.services-card:nth-of-type(3) > .services-header > .services-header-icon.dark {
  background-color: var(--green);
}

.services-card:nth-of-type(4) > .services-header > .services-header-icon.dark {
  background-color: var(--secondary-dark);
}

.services-header-icon > svg > path {
  fill: var(--black);
  transition: fill var(--default-transition);
}

.services-header-icon.dark > svg > path {
  fill: var(--white);
}

.services-header-title {
  font-size: clamp(
    1.5rem,
    1.319023569023569rem + 0.6734006734006733vw,
    1.75rem
  );
  font-weight: 600;
  margin-bottom: 0;
}

.projects-section {
  position: relative;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}

.projects-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 0.5742574257425743rem + 1.5841584158415842vw, 2rem);
}

.projects-headline div {
  width: 100%;
  border-bottom: 2px solid var(--primary);
  margin-top: 6px;
  transition: border var(--default-transition);
}

.projects-section.dark .projects-headline div {
  border-bottom: 2px solid var(--primary-dark);
}

.projects-headline > svg {
  flex-shrink: 0;
  width: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  height: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  transform: rotate(180deg);
}

.projects-disclaimer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary);
  padding: clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem);
  /* border: 2px solid var(--primary); */
  border-radius: var(--rounded-md);
  transition: background-color var(--default-transition),
    border var(--default-transition);
}

.projects-section.dark .projects-disclaimer {
  background-color: var(--primary-dark);
  /* border: 2px solid var(--primary-dark); */
}

.projects-disclaimer > p {
  margin-bottom: 1rem;
}

.projects-disclaimer > a {
  padding: 14px 24px;
}

.projects-work {
  display: flex;
  gap: clamp(2rem, -0.2921013412816693rem + 4.769001490312966vw, 4rem);
  background-color: var(--primary);
  padding: clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem);
  /* border: 2px solid var(--primary); */
  border-radius: var(--rounded-md);
  margin-bottom: 3rem;
  transition: background-color var(--default-transition),
    border var(--default-transition);
}

.projects-work.dark {
  background-color: var(--primary-dark);
  /* border: 2px solid var(--primary-dark); */
}

.projects-work-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.projects-work-description > div:first-of-type {
  position: relative;
  z-index: 1;
}

.projects-work-title {
  max-width: 32rem;
  font-size: clamp(2rem, 1.647887323943662rem + 1.5023474178403755vw, 3rem);
  font-weight: 600;
  line-height: 1.12;
  margin-bottom: 1.5rem;
}

.projects-work-tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  cursor: default;
}

.projects-work-tags > span {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: var(--rounded-xsm);
  transition: background-color var(--default-transition);
}

.projects-work-tags > span:first-of-type {
  background-color: var(--light-blue);
}

.projects-work-tags > span:nth-of-type(2) {
  background-color: var(--light-purple);
}

.projects-work-tags.dark > span:first-of-type {
  background-color: var(--blue);
}

.projects-work-tags.dark > span:nth-of-type(2) {
  background-color: var(--magenta);
}

.projects-work-image-wrapper {
  flex: 1;
  aspect-ratio: 8 / 5;
  position: relative;
  background-color: var(--secondary);
  padding: 1.5rem 0.375rem 0.375rem 0.375rem;
  border-radius: var(--rounded-md);
  transition: background-color var(--default-transition);
  overflow: hidden;
}

.projects-work-image-wrapper.dark {
  background-color: var(--secondary-dark);
}

.projects-work-image-wrapper::before {
  content: "";
  display: block;
  width: 0.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  border-radius: var(--rounded-50);
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  transition: background-color var(--default-transition);
}

.projects-work-image-wrapper::after {
  content: "";
  display: block;
  width: 0.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--purple);
  border-radius: var(--rounded-50);
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  transition: background-color var(--default-transition);
}

.projects-work-image-wrapper.dark::before {
  background-color: var(--purple);
}

.projects-work-image-wrapper.dark::after {
  background-color: var(--light-purple);
}

.projects-work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--rounded-sm);
}

.projects-button-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projects-button-wrapper a img {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 2px;
}

.contact-section {
  position: relative;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 180px;
  position: relative;
  z-index: 2;
}

.contact-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 0.5742574257425743rem + 1.5841584158415842vw, 2rem);
}

.contact-headline div {
  width: 100%;
  border-bottom: 2px solid var(--primary);
  margin-top: 6px;
  transition: border var(--default-transition);
}

.contact-section.dark .contact-headline div {
  border-bottom: 2px solid var(--primary-dark);
}

.contact-headline > svg {
  flex-shrink: 0;
  width: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  height: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  transform: rotate(180deg);
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: var(--primary);
  padding: clamp(2.5rem, 1.00990099009901rem + 5.544554455445545vw, 6rem)
    clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem)
    clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem)
    clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem);
  border-radius: var(--rounded-md);
  transition: background-color var(--default-transition);
}

.contact-section.dark .contact-card {
  background-color: var(--primary-dark);
}

.contact-card-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-card-headline h3 {
  text-align: center;
  max-width: 20ch;
  margin-bottom: 2rem;
}

.contact-card-button-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact-card-button {
  padding: 14px 24px;
}

.contact-card-link-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-email-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-email-wrapper > span {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.contact-email-wrapper > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.contact-email {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.8935643564356436rem + 0.39603960396039606vw,
    1.25rem
  );
  color: var(--black);
  transition: color var(--default-transition);
}

.contact-email:hover {
  text-decoration: underline;
}

.contact-email.dark {
  color: var(--white);
}

.contact-copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--accent);
  padding: 0.5rem;
  border-radius: var(--rounded-xsm);
  transition: background-color var(--default-transition);
  cursor: pointer;
  position: relative;
}

.contact-copy-button:hover {
  background-color: var(--accent-variant);
}

.contact-copy-button.dark:hover {
  background-color: var(--accent-variant-dark);
}

.contact-socials-wrapper {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.contact-socials-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--accent);
  padding: 0.5rem;
  border-radius: var(--rounded-xsm);
  position: relative;
  transition: background-color var(--default-transition);
}

.contact-socials-button:hover {
  background-color: var(--accent-variant);
}

.contact-socials-button.dark:hover {
  background-color: var(--accent-variant-dark);
}

.contact-socials-button svg path {
  fill: var(--white);
}

.contact-socials-button::after {
  width: max-content;
  gap: 0.25rem;
  color: var(--white);
  font-size: 0.875rem;
  background-color: var(--accent-variant);
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded-xsm);
  margin-top: 0.5rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: background-color var(--default-transition),
    opacity var(--default-transition);
}

.contact-socials-button:hover::after {
  opacity: 1;
}

.contact-socials-button.dark::after {
  background-color: var(--accent-variant-dark);
}

.contact-socials-button:first-of-type::after {
  content: "LinkedIn";
}

.contact-socials-button:nth-of-type(2)::after {
  content: "GitHub";
}

.contact-socials-button:nth-of-type(3)::after {
  content: "Instagram";
}

.contact-socials-button:nth-of-type(4)::after {
  content: "WhatsApp";
}

.contact-socials-button > svg {
  width: 1.5rem;
  height: 1.5rem;
}

/*  ---------------------------------- FOOTER --------------------------------- */

.footer {
  position: relative;
  z-index: 998;
  overflow: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 100px;
  padding-bottom: 2rem;
  position: relative;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: var(--black);
}

.footer-logo-wrapper.dark {
  color: var(--white);
}

.footer-logo-name {
  width: fit-content;
  height: fit-content;
  font-size: clamp(2.25rem, 1.9306930693069306rem + 1.188118811881188vw, 3rem);
  letter-spacing: -1px;
  line-height: 1;
  color: inherit;
  margin-bottom: 4px;
  transition: color var(--default-transition);
}

.footer-logo-copyright {
  font-size: clamp(1.5rem, 1.2871287128712872rem + 0.7920792079207921vw, 2rem);
  transition: color var(--default-transition);
}

.footer-navigation-wrapper {
  display: flex;
  gap: clamp(2rem, -2.9230769230769234rem + 7.6923076923076925vw, 4rem);
}

.footer-navigation-sitemap,
.footer-navigation-socials,
.footer-navigation-contacts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1.125rem;
}

.footer-nav-title {
  width: max-content;
  font-weight: 700;
  padding: 4px 10px;
}

.footer-nav-link {
  width: fit-content;
  color: var(--black);
  padding: 4px 10px;
  border-radius: var(--rounded-xsm);
  transition: color var(--default-transition),
    background-color var(--default-transition);
}

.footer-nav-link:hover {
  background-color: var(--primary);
}

.footer-nav-link.dark {
  color: var(--white);
}

.footer-nav-link.dark:hover {
  background-color: var(--primary-dark);
}

.footer-design-element {
  content: "";
  width: 40vw;
  max-width: 400px;
  height: 40vw;
  max-height: 400px;
  border-radius: var(--rounded-50);
  background: linear-gradient(25deg, #ebf2fd00, #8e8ffa11, #7752fe, #2e14af);
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
}

.footer-container:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.footer-container:nth-of-type(2) > div {
  max-width: 26rem;
  font-size: clamp(
    0.875rem,
    0.8217821782178217rem + 0.19801980198019803vw,
    1rem
  );
  text-wrap: pretty;
}

.footer-container:nth-of-type(2) > div > span {
  font-weight: 700;
}

.footer-tools-link {
  font-weight: 700;
  transition: color var(--default-transition);
}

.footer-tools-link:hover {
  color: var(--accent);
}

.footer-tools-link.dark {
  color: var(--white);
}

.footer-tools-link.dark:hover {
  color: var(--accent);
}

.footer-scroll-top {
  font-size: 1rem;
  padding: 12px 20px;
}

/*  ------------------------------- RESPONSIVE -------------------------------- */

@media (max-width: 1440px) {
  .container {
    width: min(100% - 64px);
  }
}
@media (max-width: 1024px) {
  .container {
    width: min(100% - 48px);
  }
  .projects-container {
    padding-top: 6rem;
  }
  .contact-container {
    padding-top: 6rem;
  }
  .about-container-content {
    margin-bottom: 4rem;
  }
  .footer-container:first-of-type {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 0;
  }
}
@media (max-width: 900px) {
  .about-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .about-image-wrapper,
  .about-description-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .author-photo {
    width: 65%;
  }
  .projects-work-title {
    margin-bottom: 1rem;
  }
  .services-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .services-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-work {
    flex-direction: column;
    gap: 1.5rem;
  }
  .projects-work-image-wrapper {
    aspect-ratio: auto;
    order: -1;
  }
}
@media (max-width: 768px) {
  .button:hover,
  .button:focus-visible {
    background-color: var(--accent);
  }
  .button.dark:hover {
    background-color: var(--accent);
  }
  .button:hover span:first-of-type {
    transform: translateX(0);
  }
  .button:hover span:nth-of-type(2) {
    transform: rotate(0deg);
    scale: 1;
    background-color: var(--purple);
  }
  .button:hover span:nth-of-type(2) svg {
    width: auto;
    height: auto;
  }
  .container {
    width: min(100% - 32px);
  }
  .hero-container {
    justify-content: flex-end;
    padding-bottom: 4rem;
  }
  .projects-container {
    padding-top: 4rem;
  }
  .contact-container {
    padding-top: 4rem;
  }
  .footer-container:first-of-type {
    padding-top: 4rem;
  }
  .header-ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 6.5rem 2rem 2rem 2rem;
    opacity: 0;
    transition: opacity var(--default-transition),
      background-color var(--default-transition);
    user-select: none;
    pointer-events: none;
    transform-origin: top center;
    z-index: 998;
    overflow: hidden;
  }
  .header-ul.open-nav {
    background-color: var(--background);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .header-ul.open-nav.dark {
    background-color: var(--background-dark);
  }
  .nav-link-header {
    padding: 0;
  }
  .nav-link-header.active {
    color: unset;
    background-color: unset;
  }
  .dark-mode-button {
    position: static;
  }
  .dark-mode-button::after {
    display: none;
  }
  .dark-mode-toggle-ball {
    left: calc(100% - 47px);
  }
  .dark-mode-span {
    display: inline-block;
    padding: 0px 4px 2px 0px;
    font-weight: 600;
  }
  .header-ul-infos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-ul-infos a {
    color: inherit;
  }
  .header-ul-infos > span {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }
  .header-ul-email {
    margin-bottom: 1.5rem;
  }
  .header-ul-infos > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .header-ul-link {
    font-size: 1rem;
    padding: 4px 10px;
    border: 2px solid var(--primary);
    border-radius: var(--rounded-xsm);
    transition: border var(--default-transition);
  }
  .header-ul.dark .header-ul-link {
    border: 2px solid var(--primary-dark);
  }
  .navbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-ul::after {
    content: "";
    width: 60vw;
    max-width: 300px;
    height: 60vw;
    max-height: 300px;
    border-radius: var(--rounded-50);
    background: linear-gradient(25deg, #ebf2fd00, #8e8ffa11, #7752fe, #2e14af);
    position: absolute;
    top: 75%;
    right: 0;
    transform: translate(-2rem, -50%);
    z-index: -1;
    opacity: 0.2;
  }
  .about-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }
  .about-image-wrapper,
  .about-description-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .services-wrapper {
    gap: 2rem;
  }
  .projects-work {
    gap: 1.25rem;
  }
  .projects-work-title {
    max-width: max-content;
  }
  .projects-work-image-wrapper {
    background-color: transparent;
    padding: 0;
    transition: background-color var(--default-transition);
    overflow: hidden;
  }
  .projects-work.dark .projects-work-image-wrapper {
    background-color: transparent;
  }
  .projects-work-image-wrapper::before,
  .projects-work-image-wrapper::after {
    display: none;
  }
  .contact-card-link-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer-container:first-of-type {
    gap: 2rem;
  }
  .footer-navigation-wrapper {
    margin-bottom: 1rem;
  }
  .footer-navigation-sitemap,
  .footer-navigation-socials,
  .footer-navigation-contacts {
    gap: 0.5rem;
  }
  .footer-nav-title,
  .footer-nav-link {
    padding: 0;
  }
  .footer-nav-link:hover,
  .footer-nav-link.dark:hover {
    background-color: transparent;
  }
  .footer-container:nth-of-type(2) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer-design-element {
    width: 70vw;
    height: 70vw;
    top: 85%;
    left: 50%;
  }
}
@media (max-width: 480px) {
  :root {
    scroll-padding: 2rem;
  }
  .container {
    width: min(100% - 8px);
  }
  .header-ul {
    padding: 6.5rem 1.25rem 1.25rem 1.25rem;
  }
  .hero-title {
    margin-bottom: 1.5rem;
  }
  .author-photo {
    width: 100%;
  }
  .services-card {
    gap: 1.5rem;
  }
  .projects-work {
    gap: 1rem;
  }
  /* .projects-work-title,
  .projects-work-tags {
    margin-bottom: 1rem;
  } */
  .projects-work-image-wrapper {
    aspect-ratio: 8 / 5;
    border-radius: var(--rounded-sm);
  }
  .projects-work-image {
    aspect-ratio: 8 / 5;
  }
  .contact-socials-button {
    padding: 0.375rem;
  }
  .contact-socials-button > svg {
    width: 1.375rem;
    height: 1.375rem;
  }
  .footer-navigation-sitemap,
  .footer-navigation-socials,
  .footer-navigation-contacts {
    gap: 0.75rem;
  }
  .footer-container:nth-of-type(2) {
    padding-bottom: 1.25rem;
  }
  .footer-scroll-top {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .container {
    width: min(100% - 8px);
  }
}
