.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--background);
  padding: 1rem 0;
  transition: background-color var(--default-transition);
}

body.dark .header {
  background-color: var(--background-dark);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: clamp(0.75rem, 0.6435643564356436rem + 0.39603960396039606vw, 1rem);
  position: relative;
  z-index: 999;
  outline: 0;
}

.logo-image {
  width: clamp(2.25rem, 2.1435643564356437rem + 0.39603960396039606vw, 2.5rem);
  height: clamp(2.25rem, 2.1435643564356437rem + 0.39603960396039606vw, 2.5rem);
  aspect-ratio: 1 / 1;
  opacity: 1;
  transition: transform 0.4s ease;
}

.logo:hover .logo-image {
  transform: rotate(-90deg);
}

.author-name {
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  font-size: clamp(
    1.25rem,
    1.1590909090909092rem + 0.45454545454545453vw,
    1.375rem
  );
  font-weight: 700;
  line-height: 1;
  color: var(--black);
  cursor: pointer;
  user-select: none;
  transition: color var(--default-transition);
}

body.dark .author-name {
  color: var(--white);
}

.header-ul {
  display: flex;
  gap: 0.5rem;
  font-size: 1.125rem;
  padding-inline-start: 0px;
  margin: 0;
}

.header-li {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link-header {
  font-weight: 600;
  color: var(--black);
  padding: 4px 10px;
  border-radius: var(--rounded-xsm);
  transition: color var(--default-transition),
    background-color var(--default-transition);
}

body.dark .nav-link-header {
  color: var(--white);
}

.nav-link-header:hover:not(.active) {
  background-color: var(--primary);
}

body.dark .nav-link-header:hover:not(.active) {
  background-color: var(--primary-dark);
}

.active {
  color: var(--white);
  background-color: var(--accent);
  transition: background-color var(--default-transition);
}

.active:hover {
  background-color: var(--accent-variant);
}

body.dark .active {
  background-color: var(--accent);
}

body.dark .active:hover {
  background-color: var(--accent-variant-dark);
}

.dark-mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: var(--rounded-full);
  border-radius: var(--rounded-xsm);
  margin-left: 10px;
  position: relative;
  transition: background-color var(--default-transition);
  cursor: pointer;
}

.dark-mode-button:hover {
  background-color: var(--secondary);
}

body.dark .dark-mode-button {
  background-color: var(--primary-dark);
}

body.dark .dark-mode-button:hover {
  background-color: var(--secondary-dark);
}

.dark-mode-button svg {
  width: 1rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--default-transition), opacity var(--default-transition);
}

.dark-mode-button svg:first-of-type {
  opacity: 1;
}

.dark-mode-button svg:nth-of-type(2) {
  opacity: 0;
}

body.dark .dark-mode-button svg:first-of-type {
  opacity: 0;
}

body.dark .dark-mode-button svg:nth-of-type(2) {
  opacity: 1;
}

.dark-mode-span {
  display: none;
  width: fit-content;
}

.header-ul-infos {
  display: none;
}

.navbuttons {
  display: none;
  position: relative;
  z-index: 999;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.navbar-button {
  width: 2rem;
  height: 3px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navbar-button::before,
.navbar-button::after {
  content: "";
  height: 3px;
  background-color: var(--black);
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.navbar-button::before {
  width: 2rem;
  transform: translateY(-6px);
}
.navbar-button::after {
  width: 1.5rem;
  transform: translateY(6px);
  right: 0;
}

.navbuttons.open-nav > .navbar-button::before {
  transform: rotate(45deg);
}
.navbuttons.open-nav > .navbar-button::after {
  transform: rotate(-45deg);
  width: 2rem;
}

body.dark .navbar-button::before,
body.dark .navbar-button::after {
  background-color: var(--white);
}

@media (max-width: 768px) {
  .header-ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 6.5rem 2rem 2rem 2rem;
    opacity: 0;
    transition: opacity var(--default-transition),
      background-color var(--default-transition);
    user-select: none;
    pointer-events: none;
    transform-origin: top center;
    z-index: 998;
    overflow: hidden;
  }
  .header-ul.open-nav {
    background-color: var(--background);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  body.dark .header-ul.open-nav {
    background-color: var(--background-dark);
  }
  .nav-link-header {
    padding: 0;
  }
  .nav-link-header.active {
    color: unset;
    background-color: unset;
  }
  .dark-mode-button {
    position: static;
  }
  .dark-mode-button::after {
    display: none;
  }
  .dark-mode-toggle-ball {
    left: calc(100% - 47px);
  }
  .dark-mode-span {
    display: inline-block;
    padding: 0px 4px 2px 0px;
    font-weight: 600;
  }
  .header-ul-infos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-ul-infos a {
    color: inherit;
  }
  .header-ul-infos > span {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }
  .header-ul-email {
    margin-bottom: 1.5rem;
  }
  .header-ul-infos > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .header-ul-link {
    font-size: 1rem;
    padding: 4px 10px;
    border: 2px solid var(--primary);
    border-radius: var(--rounded-xsm);
    transition: border var(--default-transition);
  }
  body.dark .header-ul .header-ul-link {
    border: 2px solid var(--primary-dark);
  }
  .navbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-ul::after {
    content: "";
    width: 60vw;
    max-width: 300px;
    height: 60vw;
    max-height: 300px;
    border-radius: var(--rounded-50);
    background: linear-gradient(25deg, #ebf2fd00, #8e8ffa11, #7752fe, #2e14af);
    position: absolute;
    top: 75%;
    right: 0;
    transform: translate(-2rem, -50%);
    z-index: -1;
    opacity: 0.2;
  }
}
@media (max-width: 480px) {
  .header-ul {
    padding: 6.5rem 1.25rem 1.25rem 1.25rem;
  }
}