.services-container {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.services-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.services-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary);
  padding: clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem);
  border-radius: var(--rounded-md);
  transition: background-color var(--default-transition),
    border var(--default-transition);
  position: sticky;
  top: 6rem;
}

.services-card.dark {
  background-color: var(--primary-dark);
}

.services-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-wrap: nowrap;
  margin: 0;
  font-weight: 600;
}

.services-header-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: var(--rounded-xsm);
  transition: background-color var(--default-transition);
}

.services-card:nth-of-type(1) > .services-header > .services-header-icon {
  background-color: var(--light-blue);
}

.services-card:nth-of-type(2) > .services-header > .services-header-icon {
  background-color: var(--light-purple);
}

.services-card:nth-of-type(3) > .services-header > .services-header-icon {
  background-color: var(--light-green);
}

.services-card:nth-of-type(4) > .services-header > .services-header-icon {
  background-color: var(--secondary);
}

.services-card:nth-of-type(1) > .services-header > .services-header-icon.dark {
  background-color: var(--blue);
}

.services-card:nth-of-type(2) > .services-header > .services-header-icon.dark {
  background-color: var(--magenta);
}

.services-card:nth-of-type(3) > .services-header > .services-header-icon.dark {
  background-color: var(--green);
}

.services-card:nth-of-type(4) > .services-header > .services-header-icon.dark {
  background-color: var(--secondary-dark);
}

.services-header-icon > svg > path {
  fill: var(--black);
  transition: fill var(--default-transition);
}

.services-header-icon.dark > svg > path {
  fill: var(--white);
}

.services-header-title {
  font-size: clamp(
    1.5rem,
    1.319023569023569rem + 0.6734006734006733vw,
    1.75rem
  );
  font-weight: 600;
  margin-bottom: 0;
}
