.works-section {
  position: relative;
}

.works-container {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.works-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 0.5742574257425743rem + 1.5841584158415842vw, 2rem);
}

.works-headline > svg {
  flex-shrink: 0;
  width: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  height: clamp(2.5rem, 1.5909090909090908rem + 4.545454545454546vw, 5rem);
  transform: rotate(180deg);
}

.works-projects-disclaimer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary);
  padding: clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem);
  border-radius: var(--rounded-md);
  transition: background-color var(--default-transition),
    border var(--default-transition);
}

body.dark .works-section .works-projects-disclaimer {
  background-color: var(--primary-dark);
}

.works-projects-disclaimer > p {
  margin-bottom: 1rem;
}

.works-projects-disclaimer > a {
  padding: 14px 24px;
}

.works-projects {
  display: flex;
  gap: clamp(2rem, -0.2921013412816693rem + 4.769001490312966vw, 4rem);
  background-color: var(--primary);
  padding: clamp(1.25rem, 0.5172413793103449rem + 2.7586206896551726vw, 3rem);
  border-radius: var(--rounded-md);
  margin-bottom: 3rem;
  transition: background-color var(--default-transition),
    border var(--default-transition);
}

body.dark .works-projects {
  background-color: var(--primary-dark);
}

.works-projects-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.works-projects-description > div:first-of-type {
  position: relative;
  z-index: 1;
}

.works-projects-title {
  max-width: 32rem;
  font-size: clamp(2rem, 1.647887323943662rem + 1.5023474178403755vw, 3rem);
  font-weight: 600;
  line-height: 1.12;
  margin-bottom: 1.5rem;
}

.works-projects-tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  cursor: default;
}

.works-projects-tags > span {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: var(--rounded-xsm);
  transition: background-color var(--default-transition);
}

.works-projects-tags > span:first-of-type {
  background-color: var(--light-blue);
}

.works-projects-tags > span:nth-of-type(2) {
  background-color: var(--light-purple);
}

body.dark .works-projects-tags > span:first-of-type {
  background-color: var(--blue);
}

body.dark .works-projects-tags > span:nth-of-type(2) {
  background-color: var(--magenta);
}

.works-projects-image-wrapper {
  flex: 1;
  aspect-ratio: 8 / 5;
  position: relative;
  background-color: var(--secondary);
  padding: 1.5rem 0.375rem 0.375rem 0.375rem;
  border-radius: var(--rounded-md);
  transition: background-color var(--default-transition);
  overflow: hidden;
}

body.dark .works-projects-image-wrapper {
  background-color: var(--secondary-dark);
}

.works-projects-image-wrapper::before {
  content: "";
  display: block;
  width: 0.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  border-radius: var(--rounded-50);
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  transition: background-color var(--default-transition);
}

.works-projects-image-wrapper::after {
  content: "";
  display: block;
  width: 0.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--purple);
  border-radius: var(--rounded-50);
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  transition: background-color var(--default-transition);
}

body.dark .works-projects-image-wrapper::before {
  background-color: var(--purple);
}

body.dark .works-projects-image-wrapper::after {
  background-color: var(--light-purple);
}

.works-projects-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--rounded-sm);
}

.works-projects-button-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 900px) {
  .works-projects {
    flex-direction: column;
    gap: 1.5rem;
  }
  .works-projects-title {
    margin-bottom: 1rem;
  }
  .works-projects-image-wrapper {
    aspect-ratio: auto;
    order: -1;
  }
}
@media (max-width: 768px) {
  .works-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .works-projects {
    gap: 1.25rem;
  }
  .works-projects-title {
    max-width: max-content;
  }
  .works-projects-image-wrapper {
    background-color: transparent;
    padding: 0;
    transition: background-color var(--default-transition);
    overflow: hidden;
  }
  body.dark .works-projects .works-projects-image-wrapper {
    background-color: transparent;
  }
  .works-projects-image-wrapper::before,
  .works-projects-image-wrapper::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .works-projects {
    gap: 1rem;
  }
  .works-projects-image-wrapper {
    aspect-ratio: 8 / 5;
    border-radius: var(--rounded-sm);
  }
  .works-projects-image {
    aspect-ratio: 8 / 5;
  }
}
